autom4te.cache/
.deps/
.libs/
Makefile
*.a
*.la
*.lai
*.lo
*.gmo
*.so
*.o
*.1
stamp-*
*.list
*.pc
/PackageKit/PackageKit.lang
/PackageKit/client/pkcon
/PackageKit/client/pkgenpack
/PackageKit/client/pkmon
/PackageKit/config.log
/PackageKit/config.status
/PackageKit/contrib/command-not-found/pk-command-not-found
/PackageKit/contrib/debuginfo-install/pk-debuginfo-install
/PackageKit/contrib/device-rebind/pk-device-rebind
/PackageKit/contrib/gstreamer-plugin/pk-gstreamer-install
/PackageKit/contrib/systemd-updates/packagekit-offline-update.service
/PackageKit/contrib/systemd-updates/pk-clear-offline-update
/PackageKit/contrib/systemd-updates/pk-offline-update
/PackageKit/contrib/systemd-updates/pk-trigger-offline-update
/PackageKit/data/org.freedesktop.PackageKit.service
/PackageKit/data/packagekit-catalog.xml
/PackageKit/data/packagekit-package-list.xml
/PackageKit/data/packagekit-servicepack.xml
/PackageKit/etc/PackageKit.conf
/PackageKit/lib/packagekit-glib2/pk-socket-example
/PackageKit/libtool
/PackageKit/po/.intltool-merge-cache
/PackageKit/po/Makefile.in
/PackageKit/po/POTFILES
/PackageKit/src/packagekitd
/PackageKit/tools/pk-refresh-licenses
